### Reading a CSV file

In [ ]:
# Load Pandas
import pandas as pd
# Read the csv file
df = pd.read_csv("data1.csv")

# First 5 rows
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3